@model IEnumerable<StudyGuide.Models.FootballSchedule>

@{
    ViewBag.Title = "Index";

}


<h1>OU Football Schedule for @Model.First().Season</h1>

@foreach (var item in Model)
{
    if (item.IsHomeGame == true)
    {
        <div class="card" style="margin: 5px; width: 200px; color:white; background-color:darkred; height:255px; border-radius:25px; border:5px; float:left; padding:5px;">
            <span class="glyphicon glyphicon-home" style="font-size:2em;"></span>
            <h5 class="card-title" style="font-size:2em;">OU vs. @item.Opponent</h5>
            <div class="card-body">
                @if (item.Opponent.Trim() == "Texas")
                {
                    <img src="https://www.thelostogle.com/wp-content/uploads/2010/02/texas-longhorn-logo-450x225.jpg" style="width:100px;height:auto" />
                }

                <p class="card-text">@item.Date.ToLongDateString()</p>
            </div>
        </div>
    }
    if (item.IsHomeGame == false)
    {
        <div class="card" style="margin:5px;width: 200px; color:white; background-color: black; height:255px;border-radius:25px; border:5px; float:left; padding:5px">
            <span class="glyphicon glyphicon-globe" style="font-size:2em;"></span>
            <div class="card-body">
                <h5 class="card-title" style="font-size:2em;">OU vs. @item.Opponent</h5>
                @if (item.Opponent.Trim() == "Texas")
                {
                    <img src="https://www.thelostogle.com/wp-content/uploads/2010/02/texas-longhorn-logo-450x225.jpg" style="width:100px;height:auto" />
                }

                <p class="card-text">@item.Date.ToLongDateString()</p>
            </div>
        </div>
    }

}


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHomeGame)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHomeGame)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
