@model IEnumerable<StudyGuide.Models.FootballSchedule>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    if (item.IsHomeGame == true)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">OU vs. @item.Opponent</h5>
                <p class="card-text">@item.Date</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
    if (item.IsHomeGame == false)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">OU vs. @item.Opponent</h5>
                <p class="card-text">@item.Date</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
   
}
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHomeGame)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHomeGame)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
